@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

hr {
  width: 1000%;
  height: 1px;
  margin: auto;
}

.title {
  display: flex;
  font-size: 32px;
  font-family: "Noto Sans KR", sans-serif;
  justify-content: center;
  font-weight: 400;
  line-height: 32px;
}

.text1 {
  position: absolute;
  width: 111px;
  height: 38px;
  top: 265px;
  left: 905px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  font-family: Pretendard;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.19px;
  text-align: center;
}

.text2 {
  position: absolute;
  width: 77px;
  height: 18px;
  top: 340px;
  left: 783px;
  gap: 0px;
  opacity: 0px;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.9px;
  text-align: left;
}

.upload-button {
  position: absolute;
  top: 380px;
  left: 885px;
  width: 149px;
  height: 149px;
  opacity: 0.6;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#fileInput {
  display: none;
}

.wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 1170px;
}

input {
  width: 355px;
  height: 33px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.helpertext {
  font-size: 12px;
  position: absolute;
  width: 150x;
  height: 15px;
  gap: 0px;
  opacity: 0px;
  color: #ff0000;
}

.input2 {
  position: absolute;
  width: 355px;
  height: 33px;
  top: 574px;
  left: 782px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

#signupButton {
  position: absolute;
  width: 355px;
  height: 33px;
  background: #aca0eb;
  color: #ffffff;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.71px;
  text-align: center;
  top: 886px;
  left: 783px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}

.signup {
  position: absolute;
  width: 49px;
  height: 17px;
  top: 694px;
  left: 935px;
  gap: 0px;
  opacity: 0px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: left;
  text-decoration-line: none;
  color: black;
}

.go-back {
  position: absolute;
  top: 36px;
  left: 700px;
  width: 10.93px;
  height: 18.89px;
  background-color: #ffffff;
  border: none;
  font-size: 24px;
}

#profileHelpingText {
  top: 360px;
  left: 784px;
}

#emailHelper {
  top: 610px;
  left: 784px;
}

#passwordHelper {
  top: 695px;
  left: 784px;
}

#confirmPasswordHelper {
  top: 777px;
  left: 783px;
}

#nicknameHelper {
  top: 864px;
  left: 783px;
}

#email {
  width: 47px;
  height: 18px;
  top: 540px;
  left: 783px;
  gap: 0px;
  opacity: 0px;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.9px;
  text-align: left;
}

#input-email {
  position: absolute;
  width: 355px;
  height: 33px;
  top: 566px;
  left: 783px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

#pw {
  position: absolute;
  width: 60px;
  height: 18px;
  top: 630px;
  left: 783px;
  gap: 0px;
  opacity: 0px;
}

#input-pw {
  position: absolute;
  width: 355px;
  height: 33px;
  top: 653px;
  left: 783px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

#pwcheck {
  position: absolute;
  width: 90px;
  height: 18px;
  top: 716px;
  left: 783px;
  gap: 0px;
  opacity: 0px;
}

#confirm-pw {
  position: absolute;
  width: 355px;
  height: 33px;
  top: 737px;
  left: 783px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

#nickname {
  position: absolute;
  top: 800px;
  left: 783px;
}

#input-nickname {
  position: absolute;
  width: 355px;
  height: 33px;
  top: 822px;
  left: 783px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.login {
  position: absolute;
  width: 99px;
  height: 17px;
  top: 931px;
  left: 920px;
  gap: 0px;
  opacity: 0px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: left;
  text-decoration-line: none;
  color: black;
}
