<!doctype html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/board/board.css" />
    <title>게시글 목록조회</title>
  </head>
  <body>
    <header>
      <div id="mainTitle">아무 말 대잔치</div>
      <div class="dropdown">
        <div class="dropbtn" onclick="toggleDropdown()">
          <img id="profileImage" src="" />
        </div>
        <div class="menu-box" id="menu-box" style="display: none">
          <ul class="menu-list">
            <li><a href="/users/infomodify">회원정보 수정</a></li>
            <li><a href="/users/pwmodify">비밀번호 수정</a></li>
            <li><a href="#" id="logout">로그아웃</a></li>
          </ul>
        </div>
      </div>
      <hr />
    </header>
    <main>
      <br />
      <p class="hello">안녕하세요,<br />아무 말 대잔치 <b>게시판</b>입니다.</p>
      <div id="writeButton">게시글 작성</div>
      <div id="post-container" class="post-container"></div>
    </main>
    <script src="/board/board.js"></script>
  </body>
</html>
